/irm_vss_req_cli/x64
/irm_vss_req_cli/Release-Static
/irm_vss_req/x64
/irm_vss_req/Debug
/irm_vss_req/Release-Static
/irm_vss_swpr/x64
/irm_vss_swpr/Debug
/irm_vss_swpr/DebugPS
Common.Logging.dll
Common.Logging.pdb
Common.Logging.xml
CommonLibs.dll
CommonLibs.pdb
MongoDB.Bson.dll
MongoDB.Bson.pdb
MongoDB.Bson.xml
MongoDB.Driver.dll
MongoDB.Driver.pdb
MongoDB.Driver.xml
Quartz.dll
Quartz.pdb
Quartz.xml
Thrift.dll
Thrift.pdb
clrzmq-ext.dll
clrzmq-ext.pdb
clrzmq-ext.xml
clrzmq.dll
clrzmq.pdb
clrzmq.xml
libzmq.dll
CommonLibs.csproj.FileListAbsolute.txt
CommonLibs.csprojResolveAssemblyReference.cache
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Ironman.opensdf
Ironman.sdf
Ironman.v12.suo
irm_vss_swpr.aps
irm_vss_swpr_i.c
irm_vss_swpr_i.h
irm_vss_swpr_p.c
Boost-Config.log
lib_main.obj
macho.idb
macho.lib
macho.pdb
CL.read.1.tlog
CL.write.1.tlog
Lib-link.read.1.tlog
Lib-link.write.1.tlog
cl.command.1.tlog
lib.command.1.tlog
macho.lastbuildstate
macho_2013.log
test.exe
test.ilk
test.pdb
test-3922dcbf.ipch
macho_2013.opensdf
macho_2013.sdf
macho_2013.v12.suo
cl.read.1.tlog
cl.write.1.tlog
json_spirit_lib.pdb
libssh2.pdb
zlib.pdb
json_spirit_lib.idb
libssh2.idb
zlib.idb
json_spirit_2013.log
json_spirit_lib.lastbuildstate
unsuccessfulbuild
libssh2.lastbuildstate
libssh2_2013.log
zlib.lastbuildstate
zlib_2013.log
othersdebug-static-win32.log
othersdebug-static-x64.log
othersdebug-win32.log
othersdebug-x64.log
othersrelease-static-win32.log
othersrelease-static-x64.log
othersrelease-win32.log
othersrelease-x64.log
stdafx.obj
test.obj
test.pch
link.command.1.tlog
link.read.1.tlog
link.write.1.tlog
test.lastbuildstate
test_2013.log
vc120.idb
vc120.pdb
test_2013.vcxproj.user
Quartz.Impl.MongoDB.dll
Quartz.Impl.MongoDB.pdb
Quartz.Impl.MongoDB.csproj.FileListAbsolute.txt
Quartz.Impl.MongoDB.csprojResolveAssemblyReference.cache
RemoteTea.Net.dll
RemoteTea.Net.pdb
ipstor.dll
ipstor.pdb
jrpcgen.exe
jrpcgen.pdb
ipstor.csproj.FileListAbsolute.txt
ipstor.csprojResolveAssemblyReference.cache
build.force
CommonLibs/bin/
Debug/irm_vss_swprPS.exp
ipch/irm_vss_req-db0de3e/irm_vss_req-69f5ad6.ipch
irm_vss_req_cli/Debug/irm_vss_req_cli.tlog/irm_vss_req_cli.lastbuildstate
mq_requester/bin/
mq_requester/lib/
mq_requester/obj/
exe.config
*.exe.config
*.exe.manifest
mq_broker/bin/
mq_broker/obj/
job_workers/bin/*
job_workers/obj/*
mq_jobdispatchworker/bin/*
mq_jobdispatchworker/obj/*
job_workers/lib/*
mq_jobdispatchworker/lib/*
job_scheduling_data_2_0.xsd
irm_agent_svc/Debug/*
irm_svc/Debug/*
remoting/bin/*
remoting/obj/*
datamodel/obj/*
db/bin/*
db/obj/*
storage/bin/Debug/Newtonsoft.Json.xml
storage/obj/Debug/storage.csproj.FileListAbsolute.txt
CommonLibs/obj/*
UnitTestsProject/bin/*
UnitTestsProject/obj/*
macho/includes/boost*
update/ipch/*
update/Release-Static/*
update/*.sdf
diskctrl/Debug/diskctrl.tlog/*
diskctrl/Release-Static/diskctrl.tlog/*
netsh2/Release-Static/netsh2.tlog/*
ipch/*
opensources/curl/curl-7.40.0/projects/Windows/VC12/lib/Release-Static/*
*.tlog
*.exp
*.sdf
vim60proxy/vim25.h
vim60proxy/soapVimBindingProxy.h
vim60proxy/soapVimBindingProxy.cpp
vim60proxy/VimBinding.nsmap
vim60proxy/soap.nsmap
vim60proxy/soapC.cpp
vim60proxy/soapH.h
vim60proxy/soapStub.h
stdsoap2/Debug/
stdsoap2/x64/
vmware_vi/Debug/
vmware_vi/x64/
*.opensdf
irm_hv_cli/x64/Debug/
irm_hypervisor_ex/x64/Debug/
irm_hv_cli/x64/
irm_hypervisor_ex/x64/
irm_mgmt_svc/x64/
irm_mgmt_cli/x64/
irm_conv_agent/x64/
irm_converter_cli/x64/
irm_host_cli/x64/
irm_time_syc/x64/
netsh2/x64/
irm_hv_image_transform/x64/
notice/x64/
opensources/curl/curl-7.40.0/build/
irm_host_agent/x64/
irm_mgmt_ex_svc/x64/
irm_mgmt_ex_cli/x64/
opensources/curl/curl-7.40.0/projects/Windows/VC12/lib/x64/
irm_imagex/x64/
liblz4/x64/
irm_unit_test/x64/
irm_host_cli2/x64/
irm_hv_image_ex_transform/x64/
/Debug-Static
/Debug
/Release-Static
/Release
irm_carrier/x64/
irm_launcher/x64/
irm_scheduler/x64/
irm_virtual_packer/x64/
irm_host_packer/x64/
irm_loader/x64/
vcbtcli/x64/
irm_hv_packer_agent/x64/
setupex/x64/
