#!/bin/sh

export PATH="$PATH:/bin:/sbin"

mount -t proc proc /proc
mount -t tmpfs tmpfs /run
mount -t devtmpfs devtmpfs /dev
mount -t devpts devpts /dev/pts
mount -t sysfs sysfs /sys

{dracut_commands}

umount /sys
umount /dev/pts
umount /dev
umount /run
umount /proc
